[maxscale]
threads=2

[MaxAdmin]
type=service
router=cli

[MaxAdmin Unix Listener]
type=listener
service=MaxAdmin
protocol=maxscaled
socket=default

[Replication Monitor]
type=monitor
module=mysqlmon
servers=ClusterHost, ClusterNode0
user=maxscale
passwd=password

[Splitter Service]
type=service
router=readwritesplit
servers=ClusterHost, ClusterNode0
user=maxscale
passwd=password

[Splitter Listener]
type=listener
service=Splitter Service
protocol=MySQLClient
port=4006

[Debug Interface]
type=service
router=debugcli

[Debug Listener]
type=listener
service=Debug Interface
protocol=telnetd
port=4442

#[CLI]
#type=service
#router=cli

#[CLI Listener]
#type=listener
#service=CLI
#protocol=maxscaled
#socket=default

[ClusterHost]
type=server
address=172.17.0.2
port=3306
protocol=MySQLBackend

[ClusterNode0]
type=server
address=172.17.0.3
port=3306
protocol=MySQLBackend

